{% extends "MainApp/base.html"%}
{% load static %}
{% block content %}
	<div class="container">
		<img src="{% static 'MainApp/WebsiteLogo.png' %}" class="center-block" style="height:auto;max-height:200px;"/>
		<h1> Welcome! </h1>
		<h3> Want to browse reddit but want to avoid certain topics? Well you came to the right place! </h3>
		<h4> Make an account and create custom filter lists and start browsing reddit again!</h4>
		<hr/>
		<p>Github Repo: <a href="https://github.com/ismaildude/FilterStuff">ismaildude/FilterStuff</a></p>
		<p>By Mohammad Ismail Daud</p>
	</div>
{% endblock content %}